# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and other system files
*.log
.DS_Store

# Ignore IDE settings
.idea/
